<footer>
  <a href="https://creativecommons.org/licenses/by-nc/3.0/deed.en_US">
    <span>
        <b>{{ site.owner}}</b>
    </span>
    {% capture currentyear %}{{ 'now' | date: "%Y" }}{% endcapture %}
    <span>© {{ currentyear }}</span>
  </a>
  <p>
    <span><a href="https://twitter.com/haqpl?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @haqpl</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <img src="https://www.hackthebox.eu/badge/image/76469" alt="Hack The Box"></span>
  </p>
</footer>
