<footer>
  <a href="https://creativecommons.org/licenses/by-nc/3.0/deed.en_US">
    <span>
        <b>{{ site.owner}}</b>
    </span>
    {% capture currentyear %}{{ 'now' | date: "%Y" }}{% endcapture %}
    <span>© {{ currentyear }}</span>
  </a>
  <br>
  <div class="container">     
        <div class="footer-icon">
            <a class="btn btn-default" href="https://twitter.com/haqpl" aria-label="Twitter"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
        </div>        
        <div class="footer-icon">
            <a class="btn btn-default" href="https://github.com/haqpl" aria-label="Github"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
        </div>
        <div class="footer-icon">
            <a class="btn btn-default" href="https://linkedin.com/in/0x31337" aria-label="LinkedIn"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
        </div>
</div>
  {% if site.hacker %}
    <span>
      <div class="badge" style="display: inline-block"><script src="https://www.hackthebox.eu/badge/76469"></script></div></span> {% endif %}</span>
</footer>
