<footer>
  <a href="https://creativecommons.org/licenses/by-nc/3.0/deed.en_US">
    <span>
        <b>{{ site.owner}}</b>
    </span>
    {% capture currentyear %}{{ 'now' | date: "%Y" }}{% endcapture %}
    <span>© {{ currentyear }}</span>
  </a>
  <br>
    <span><a href="https://twitter.com/haqpl?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @haqpl</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script><br>
      <div style="margin: 0 auto"><script src="https://www.hackthebox.eu/badge/76469"></script></div></span>
</footer>
